astroid==2.5.1
atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
coverage==5.5
docopt==0.6.2
iniconfig==1.1.1
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pylint==2.7.2
pyparsing==2.4.7
pytest==6.2.2
pytest-describe==1.0.0
pytest-testmon==1.0.3
pytest-watch==4.2.0
toml==0.10.2
watchdog==2.0.2
wrapt==1.12.1
